{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Dodaj Zadanie</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_name">Nazwa</label>
            {{ form.name }}
        </div>
        
        <div class="form-group">
            <label for="id_special_id">Identyfikator</label>
            {{ form.special_id }}
        </div>
        
        <div class="form-group">
            <label for="id_time_limit">Limit czasu (ms)</label>
            {{ form.time_limit }}
        </div>
        
        <div class="form-group">
            <label for="id_memory_limit">Limit pamięci (MB)</label>
            {{ form.memory_limit }}
        </div>
        
        <div class="form-group form-check">
            {{ form.is_public }}
            <label class="form-check-label" for="id_is_public">Publiczne?</label>
        </div>
        
        <div class="form-group">
            <label for="id_file">Plik (tylko PDF)</label>
            {{ form.file }}
        </div>
        
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
{% endblock %}
